[build]
command = "hugo"
publish = "public"

[build.environment]
HUGO_VERSION = "0.151.2"
HUGO_INSTALL_EXTENDED = "true"

[context.production.environment]
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.split1.environment]
HUGO_ENV = "production"

[context.next.environment]
HUGO_ENABLEGITINFO = "true"

# .ru -> .me
[[redirects]]
from = "https://hayorov.ru"
to = "https://hayorov.me"
status = 301
force = true
