<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <!-- DNS Prefetch and Preconnect for Performance -->
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    {{ `<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->` | safeHTML }}
    {{ "<!-- Icons -->" | safeHTML }}
    <link rel="apple-touch-icon" sizes="57x57" href="/favico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favico/favicon-16x16.png">
    <link rel="manifest" href="/favico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{ partial "header/feeds.html" . }}
    <link rel="stylesheet" href="/css/custom-responsive.css">
    {{ partial "structured-data.html" . }}
    {{ partial "header/custom.html" }}
</head>