<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Site.Params.author }}",
  "url": "{{ .Site.BaseURL }}",
  "image": "{{ .Site.Params.authorimage | absURL }}",
  "sameAs": [
    "https://github.com/{{ .Site.Params.social.github }}",
    "https://linkedin.com/in/{{ .Site.Params.social.linkedin }}",
    "https://twitter.com/{{ .Site.Params.social.twitter }}",
    "https://medium.com/@{{ .Site.Params.social.medium }}"
  ],
  "jobTitle": "Engineering Leader",
  "description": "{{ .Site.Params.meta.description }}"
}
</script>
