{{/*
  Folder Gallery Shortcode

  Usage: {{< foldergallery "path/to/images" >}}

  Parameters:
    - src (required): Path to image directory (relative to /static)

  Supported formats: .jpg, .jpeg, .png, .gif, .webp, .bmp, .svg

  Creates a responsive flexbox gallery with Fancybox lightbox functionality.
  Images are lazy-loaded for better performance.
  All styling is in /static/css/custom-responsive.css under "Gallery Styles".
*/}}
{{ partial "gallery-deps.html" . }}

<div class="gallery">
    {{ $gallaryName := .Get "src" }}
    {{ $path := print "static" "/" $gallaryName }}
    {{ range (readDir $path) }}
        {{ $ext := path.Ext .Name | lower }}
        {{ if or (eq $ext ".jpg") (eq $ext ".jpeg") (eq $ext ".png") (eq $ext ".gif") (eq $ext ".webp") (eq $ext ".bmp") (eq $ext ".svg") }}
            {{ $src := print $gallaryName "/" .Name }}
            <figure>
                <a data-fancybox="gallery" href="{{ $src | absURL }}"><img src="{{ $src | absURL }}" alt="{{ .Name | replaceRE `\.(jpg|jpeg|png|gif|webp|bmp|svg)$` `` | humanize }}" loading="lazy" decoding="async"></a>
                <figcaption>
                    <h6>{{ .Name }}</h6>
                </figcaption>
            </figure>
        {{ end }}
    {{ end }}
</div>