<div class="strava">
    <div
        style="display:flex;align-items:flex-start;flex-wrap:nowrap;height:100%;justify-content:space-between;align-items:center;">
        <div style="width:68%">
            <div class="rides-img">
                <a href="https://www.strava.com/athletes/{{ index .Params 0 }}">
                    <img src="/rides/static-23-11-2020.jpg" alt="Alex rides heatmap">
                </a>
                <div class="botton-right-text">as of 23-Nov-2020</div>
            </div>
        </div>
        <div style="width:30%">
            <iframe height="180" width="260" frameborder="0" allowtransparency="true" scrolling="no"
                src="https://www.strava.com/athletes/{{ index .Params 0 }}/activity-summary/{{ index .Params 1 }}">
            </iframe>
        </div>
    </div>
</div>